{% extends 'base.html' %}

{% load staticfiles %}

{% block title%} BookMark : Add and Update {% endblock title %}

{% block extrastyle %}{% static 'forms.css' %}{% endblock extrastyle %}

{% block content %}
    <h2 class="not_admin"> Bookmark Create/Update - {{ user }}</h2>
    <form action="." method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p class="errornote"> 삐빅! 아래의 오류를 수정해주세요.</p>
        {% endif %}

        <p>북마크 포스팅을 하거나, 당신의 북마크를 수정할 수 있습니다..</p>

        <fieldset class="aligned"> <!-- 비슷한 form 요소를 묶는다 / form 변수는 class-based view에서 넘겨주는 context이다. -->
            <div class="form_row">
                {{ form.title.label_tag }} {{ form.title }} <!-- title form 출력 요소 -->
            </div>
            <div class="form_row">
                {{ form.url.label_tag }} {{ form.url }} <!-- url form 출력 요소 -->
            </div>

        </fieldset>

        <div class="submit_row">
            <input type="submit" value="Submit"/>
        </div>

        <script type="text/javascript">
            document.getElementById('id_title').focus(); <!-- title 입력 요소에 커서를 위치시킨다. -->
        </script>
    </form>
{% endblock content %}