<!-- auth.views.password_change() 뷰에서 지정된 비밀번호 변경 화면 -->
{% extends 'base.html' %}

{% load staticfiles %}

{% block title%} ACCOUNT : Password Change {% endblock title %}

{% block extrastyle %}{% static 'forms.css' %}{% endblock extrastyle %}

{% block content %}

<h2> User Password Change </h2>

<form class="password_change" action="." method="post">
    {% csrf_token %}
    {% if form.errors %}
    <p class="errornote">입력이 잘못되었습니다. 아래 표시된 오류를 수정하세요.</p>
    {% endif %}

    <p>본인 인증을 위해 기존의 비밀번호를 입력하십시오.</p>
    <p>그리고 새 비밀번호를 입력하십시오.</p>

    <fieldset class="aligned"> <!-- 비슷한 form 요소를 묶는다 / form 변수는 login view에서 넘겨주는 context이다. -->
        <div class="form_row">
            {{ form.old_password.label_tag }} {{ form.old_password }} <!-- 기존의 비번 form 출력 요소 -->
        </div>
        <div class="form_row">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }} <!-- 새 비번1 form 출력 요소 -->
        </div>
        <div class="form_row">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }} <!-- 새 비번2 form 출력 요소 -->
        </div>
    </fieldset>

    <div class="submit_row">
        <input type="submit" value="Password Change"/> <!-- value가 Password Change 이면 비번 변경으로 인식한다. -->
    </div>

    <script type="text/javascript">
        document.getElementById('id_old_password').focus(); <!-- old_password 입력 요소에 커서를 위치시킨다. -->
    </script>
</form>

{% endblock %}