<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> POST : Archive_day</title>
    <style>
        .main ul li {
            width: 50%;
            position: relative;
        }
        .main ul li span{
            width: 200px;
            text-align: left;
            position: absolute;
            right: 0;
        }
        .main ul li span.front {
            right: 70px;
        }
    </style>
</head>
<body>

<h1> POST Archive for {{ day|date:"N월 d, Y" }} </h1> <!-- 현재 연월일에 대한 datetime.date 타입 객체-->

<br/>

<div class="main">
    <ul>
    {% for post in object_list %}
        <li>
            {{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
            <a href="{{ post.get_absolute_url }}" target="_blank"><strong>{{ post.title }}</strong></a>
            <span class="front">상태 : {{ post.status }},</span>
            <span>작성자 : {{ post.author }}</span>
        </li>
    {% endfor %}
    </ul>
</div>

</body>
</html>