{% extends 'base.html' %}

{% load staticfiles %}

{% block title%} POST : Archive_month {% endblock title %}

{% block inlinestyle %}
    <style>
        .main ul li {
            width: 40%;
            position: relative;
        }
        .main ul li span{
            width: 70px;
            text-align: left;
            position: absolute;
            right: 0;
        }
    </style>
{% endblock inlinestyle %}

{% block content %}
<h1> POST Archive for {{ month|date:"b, Y" }} </h1> <!-- 현재 연월에 대한 datetime.date 타입 객체-->

<br/>

<div class="main">
    <ul>
    {% for post in object_list %}
        <li>
            {{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
            <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
            <span>상태 : {{ post.status }}</span>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock content %}