{% extends 'base.html' %}

{% load staticfiles %}

{% block title%} POST : Search {% endblock title %}

{% block inlinestyle %}
    <style>
        form {
            margin-top: 30px;
        }

        form > label {
            font-size: 18px;
            margin-right: 10px;
        }
    </style>
{% endblock inlinestyle %}

{% block content %}
<h1>Blog Search</h1>

<form action="." method="post">
    {% csrf_token %}  <!-- CSRF 공격 방지용 -->
    {{ form.as_table }}  <!-- form : PostSearchForm, 테이블 형식으로 출력 -->
    <input type="submit" value="Submit" /> <!-- submit 버튼 : POST 전송 -->
</form>

<hr style="margin: 5px 0;"><hr style="margin: 5px 0;">

<!-- 검색될 경우 표시되는 부분 -->
{% if object_list %}
{% for post in object_list %}
    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        &nbsp;&nbsp;<span><small style="font-size: 15px;">{{ post.modify_date|date:"N월 d, Y" }}</small></span></h3>
    <b> {{ post.tag }} </b><br/>
    <p> {{ post.description }} </p>
    <br/>
{% endfor %}

<!-- 검색이 안 된 경우, input에 무언가를 입력했다면 search_term에 값으로 들어간다. -->
{% elif search_term %}
    <h4><i> Search Word( {{ search_term }} ) Not found! </i></h4>
{% endif %}


{% endblock content %}